/* 4- extrernal */
body{
    padding-bottom: 500px;
    background-color: cornflowerblue;
}

h3{
    color: green;

}

p {
    color: blue;
}

h4{
    background-color: magenta;
    color: white;
}

/* Algum comentário * /
/* Mais um comentário */

/* Classes*/

.paragraph{
    background-color: #000;
    color: aqua;
    padding: 5px;
}

/* ID's */
#exclusive-title{
    background-color: purple;
    color: yellow;
    padding: 10px;
    font-size: 40px;
}

/*Ordem dos seletores*/

h2{
    border-bottom: 2px solid red;
}

.titulo{
    border-bottom: 3px solid blue;
}

#algum-titulo{
    border-bottom: 4px solid green;
}

/* Nome de cores */

.color-name{
    color:crimson;
}

/*Cor com hexadecimal*/
.hex{
    color:#15f310;
}

.hex-2{
    color: #a1b2c6;
}
/* Aprofundando em hex*/
.simple-hex{
    color: #a26;
}
.simple-hex-2{
    color: #a5f;
}

/*RGB*/
.rgb{
    color: rgb(255,0,0);
}

.mixed-rgb{
    color: rgb(230,211,180);
}

/*RGBA*/
.rgba{
    color: rgba(200,49,154,0.3);
}