/* 4- extrernal */
body{
    padding-bottom: 500px;
    background-color: cornflowerblue;
}

h3{
    color: green;

}

/* p {
    color: blue;
} */

h4{
    background-color: magenta;
    color: white;
}

/* Algum comentário * /
/* Mais um comentário */

/* Classes*/

.paragraph{
    background-color: #000;
    color: aqua;
    padding: 5px;
}

/* ID's */
#exclusive-title{
    background-color: purple;
    color: yellow;
    padding: 10px;
    font-size: 40px;
}

/*Ordem dos seletores*/

h2{
    border-bottom: 2px solid red;
}

.titulo{
    border-bottom: 3px solid blue;
}

#algum-titulo{
    border-bottom: 4px solid green;
}

/* Nome de cores */

.color-name{
    color:crimson;
}

/*Cor com hexadecimal*/
.hex{
    color:#15f310;
}

.hex-2{
    color: #a1b2c6;
}
/* Aprofundando em hex*/
.simple-hex{
    color: #a26;
}
.simple-hex-2{
    color: #a5f;
}

/*RGB*/
.rgb{
    color: rgb(255,0,0);
}

.mixed-rgb{
    color: rgb(230,211,180);
}

/*RGBA*/
.rgba{
    color: rgba(200,49,154,0.3);
}

/* HSL*/
.hsl{
    color: hsl(30,80%,40%);
}
.hsl-2{
    color: hsl(110,45%,23%);
}

/*background-color*/
.bg{
    background-color: #000;
    color: yellow;
}
.bg-2{
    background-color: rgb(10,59,253);
    color: #02b272;
    border-bottom: none;
}

/*Opacity*/
.bg-opacity{
    background-color: green;
    opacity:0.6;
}

.bg-opacity-2{
    background-color: #999;
    opacity:0.5;
}

/*rgba com opacidade*/
.rgba-opacity h1{
    background-color:rgba(90,120,20,0.5);
    color: #000;
    
}

/*Imagem*/
.bg-image{
    background-image: url(/3_CSS/img/nature.jpg) ;
    padding: 10px;
    color: #fff;
}

/*Centralizando bg image*/
.not-centered-bg,.centered-bg{
    height: 400px;
    width: 400px;
    background-image: url(/3_CSS/img/bridge.jpg);

}

.centered-bg{
    background-position: center;
    background-size: cover;
}
/*altura e largura*/
.height-width{
    margin-top: 80px;
    height: 200px;
    width:100px;
    background-color: red;
}    
.height-width-2{
    margin-top: 100px;
    height: 300px;
    background-color: #333;

}

/*padding*/

.without-padding,.padding{
    text-align: center;
    margin-top: 40px;
    background-color: #111;
    color: #fff;
}

.padding{
    padding: 20px;
}
/*padding individual*/
.padding-individual{
    background-color: #222;
    color: #fff;
    padding-top: 5px;
    padding-left: 10px;
    padding-right:20px;
    padding-bottom: 40px;

}
/*shorthand padding*/
.shorthand-padding{
    background-color: #444;
    padding: 6px 12px 18px 24px;

}

.shorthand-padding-2{
    background-color: #a1b2;
    padding: 10px 20px;
}

/*padding com width*/
.without-border-box{
    background-color: #444;
    color: #FFF;
    width: 400px;
    padding: 50px;
}

.border-box{
    background-color: #666;
    color: #FFF;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}

.border{
    border: 5px solid red;
    padding: 10px;
}
.border-2{
    border:2px dotted #931;
    padding: 25px;
}

/*borda individual*/
.border-left{
    border-left:3px solid red;
    background-color: #222;
    padding: 25px;
    color: #fff;
}
.border-bottom{
    border-bottom:5px double #399;
    background-color: #222;
    padding: 20px;
    color: #fff;
}
