/* 4- extrernal */
body{
    padding-bottom: 500px;
    background-color: cornflowerblue;
}

h3{
    color: green;

}

p {
    color: blue;
}

h4{
    background-color: magenta;
    color: white;
}

/* Algum comentário * /
/* Mais um comentário */
